$color-text-main: #fff;
$color-text-black: #000;
$color-text-darkened: #47474c;
$color-text-opacity: #8e8e98;
$color-green: #25e197;
$color-yellow: #ffd233;
$color-bg-main: #000;
$color-bg-card: #1c1c1e;
$color-bg-card-hover: #232327;
$color-bg-form: #8e8e9833;
$color-bg-form-hover: #8e8e984d;
$color-border: #151515;
$color-btn: #47474c;
