<section class="services">
  <ul class="services__container">
    <% servicesData.forEach(({ name, description, minPrice, warranty }) => { %>
    <li class="services__card">
      <p class="services__card-subtitle"><%= warranty %></p>
      <h2 class="services__card-title"><%= name %>.</h2>
      <p class="services__card-text"><%= description %>.</p>
      <p class="services__card-price">от <%= minPrice %></p>
    </li>
    <% }) %>
  </ul>
</section>
