@mixin typography-custom($font-size, $font-style, $font-weight, $line-height) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin typography-h1 {
  @include typography-custom(112px, normal, 400, 112px);
}

@mixin typography-h2 {
  @include typography-custom(80px, normal, 400, 70px);
}

@mixin typography-h3 {
  @include typography-custom(32px, normal, 400, 40px);
}

@mixin typography-h4 {
  @include typography-custom(18px, normal, 500, 18px);
}

@mixin typography-p {
  @include typography-custom(32px, normal, 400, 40px);
}

@mixin typography-p-small {
  @include typography-custom(15px, normal, 400, 19px);
}

@mixin typography-price {
  @include typography-custom(14px, normal, 400, 14px);
}
