/* stylelint-disable */
@import '@mixins/block';
@import '@mixins/link';
@import '@mixins/typography';
@import '@mixins/media';
@import '@varibles/color';
@import '@varibles/font';
/* stylelint-enable */

.logo {
  @include block-reset;

  display: flex;
  align-items: center;
  gap: 25px;

  @include media(lg) {
    gap: 19px;
  }

  @include media(sm) {
    gap: 16px;
  }

  &__link {
    @include link-reset;
  }

  &__text {
    @include text-reset;
    @include typography-logo;

    color: $color-text-main;
    font-family: $font-family;
  }

  &__subtext {
    @include text-reset;

    display: block;
    box-sizing: border-box;
    padding: 4px 9px;
    border-radius: 4px;
    background-color: $color-green;

    @include typography-logo-sub;

    color: $color-text-black;
    font-family: $font-family;
  }
}
