@import url('@mixins/block');
@import url('@mixins/media');
@import url('@mixins/container');
@import url('@mixins/text');
@import url('@mixins/typography');
@import url('@varibles/color');
@import url('@varibles/font');

.service {
  @include block-reset;

  width: 100%;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;

  @include media(sm) {
    padding-top: 40px;
    padding-bottom: 9px;
  }

  &__container {
    @include container-max-widths;
  }

  &__title {
    @include text-reset;
    @include typography-h3;

    color: $color-text-main;
    font-family: $font-family;
    margin-bottom: 60px;

    @include media(sm) {
      margin-bottom: 40px;
    }
  }

  &__list-cards {
    @include list-reset;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include media(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(sm) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background-color: $color-bg-card;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: $color-bg-card-hover;
    }

    @include media(sm) {
      min-height: 148px;
    }
  }

  &__card-title {
    @include text-reset;
    @include typography-h5;

    color: $color-text-main;
    font-family: $font-family;
    margin-bottom: 38px;

    @include media(sm) {
      margin-bottom: 36px;
    }
  }

  &__card-text {
    @include text-reset;
    @include typography-p-small;

    color: $color-text-opacity;
    font-family: $font-family;
  }
}
