@import url('@mixins/block');
@import url('@mixins/media');
@import url('@mixins/container');
@import url('@mixins/list');
@import url('@mixins/text');
@import url('@mixins/typography');
@import url('@varibles/color');
@import url('@varibles/font');

.services {
  @include block-reset;

  width: 100%;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;

  @include media(sm) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__container {
    @include container-max-widths;
    @include list-reset;

    display: grid;
    grid-template-columns: repeat(auto-fill, 550px);
    gap: 20px;

    @include media(xl) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    @include block-reset;

    background-color: $color-bg-card;
    width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background 0.3s ease;

    @include media(xl) {
      border-radius: 16px;
    }

    @include media(sm) {
      min-height: 282px;
      padding: 20px;
    }

    &:hover {
      background-color: $color-bg-card-hover;
    }
  }

  &__card-subtitle {
    @include text-reset;
    @include typography-h5;

    color: $color-text-opacity;
    font-family: $font-family;
    margin-bottom: 20px;

    @include media(sm) {
      margin-bottom: 19px;
    }
  }

  &__card-title {
    @include text-reset;
    @include typography-h4;

    color: $color-text-main;
    font-family: $font-family;
    margin-bottom: 40px;

    @include media(sm) {
      margin-bottom: 34px;
    }
  }

  &__card-text {
    @include text-reset;
    @include typography-p-card;

    color: $color-text-opacity;
    font-family: $font-family;
    margin-bottom: 40px;

    @include media(sm) {
      margin-bottom: auto;
    }
  }

  &__card-price {
    @include text-reset;
    @include typography-price;

    color: $color-green;
    font-family: $font-family;

    &::after {
      content: '\20BD';
    }
  }
}
